---
---

@import "{{ site.theme }}";

/*Added by curtis*/
.wrapper {
  width: 1060px;
}

section {
  width:700px;
}

/*no longer added by curtis below here */

header {
  position:static;
}

/*footer {
  flex-shrink: 0;  
  padding: 20px;
  position:absolute;
  bottom:0;
  width:100%;
  height:25px;  
  background:#e7e7e7;
}*/

.highlight {
  color: red;
  background-color: yellow;
  
}

p, li, span {
  font-size: 16px;
}


@media screen and (min-width: 320px) {
  p, li, span {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  p, li, span {
    font-size: 22px;
  }
}

.row-of-links {
  display:flex; 
  justify-content: space-around;
}




/*.row-of-links div a {
  font-size: 20px;
  background-color: #e7e7e7;
  padding:10px;
}*/

a.pdf, a.arxiv, a.github {
  text-decoration: underline;  
}

a.pdf {
  color: #3D9970;   /*olive*/
}

a.arxiv {
  color: #FF4136;   /*red*/
}

a.github {
  color: #B10DC9;  /*purple*/
}


 /*
header {
  width:300px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:405px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:60px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul li + li + li {
  border-right:none;
  width:144px ;
}

section {
  width:750px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:300px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

*/

button {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:18px;
  padding:8px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
button:active {
  position:relative;
  top:1px;
}
