---
---

@import "{{ site.theme }}";

header {
  position:static;
}

footer {
  position:static;
}

b {
  color: red;
  background-color: yellow;
}



/*.wrapper {
  width:10px;
}

header {
  width:300px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:405px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:60px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul li + li + li {
  border-right:none;
  width:144px ;
}

section {
  width:750px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:300px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

*/