<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1 style="display:inline; font-size:36px;"> Curtis G. Northcutt </h1> </a>
        <p class="view"> <a href="/resources/pdf/cv.pdf">Resume</a> | <a href="https://scholar.google.com/citations?user=awRyuUYAAAAJ&hl=en">Google Scholar</a> | <a href="{{ site.github.owner_url }}">GitHub</a> </p>
        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <a href="{{ site.github.url }}">
          <img src="/resources/img/headshot.jpg" alt="Photo of Curtis G. Northcutt, Ph.D. Candidate at MIT." width="200" style="display:block">
        </a>
        <br>
        <p class="view">I am a fifth-year Ph.D. Candidate in Computer Science at MIT specializing in algorithms for robust learning with noisy labels and broad applications, especially in online education.</p>
        <br>

        <h3> News -- updated 11/15/17</h3>

        <b>11-15-17</b>: Looking for <a href="curtisnorthcutt.com">curtisnorthcutt.com</a>? You are in the right place -- but you've caught me in a transition period. This website will be ready start of 2018. My <a href="research.md">research</a> will be added soon.<br>
        <b>08-15-17</b>: State-of-the-art algorithm for learning with noisy labels <a href="http://auai.org/uai2017/proceedings/papers/35.pdf">published</a> in UAI '20'17 <br>
        <b>04-20-17</b>: <a href="http://dl.acm.org/citation.cfm?id=3054016">Comment Ranking Diversification</a> published in L@S '17 <br>

        <p>For now: <a href="resources/pdf/cv.pdf">Curtis Northcutt's Resume</a>
        

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small> Theme modifed from <a href="https://orderedlist.com/minimal/">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>