<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/png" href="/resources/img/icons/cgn_16.png"/>
    <title>Curtis G. Northcutt - PhD Candidate in Computer Science at MIT</title>

{% seo %}

    

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133819921-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133819921-3');
    </script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1 style="display:-block; font-size:36px;"> Curtis G. Northcutt </h1> </a>
        cgn |AT| mit |DOT| edu
        <p class="view"> <a href="/resources/pdf/cv.pdf">Resume</a> | <a href="https://scholar.google.com/citations?user=awRyuUYAAAAJ&hl=en">Google Scholar</a> | <a href="{{ site.github.owner_url }}">GitHub</a> </p>
  
        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <a href="{{ site.github.url }}">
          <img src="/resources/img/headshot.jpg" alt="Photo of Curtis G. Northcutt, Ph.D. Candidate at MIT." width="200" style="display:block; border-radius: 50%;">
        </a>
        <br>
        <p class="view">I am a sixth-year Ph.D. Candidate in Computer Science at MIT specializing in algorithms for robust learning with noisy labels and broad applications, especially in online education.</p>

        <!-- <h3> News <span class=highlight>-- updated 11/15/17</span> </h3>

        <b>11-15-17</b>: Looking for <a href="http://curtisnorthcutt.com">curtisnorthcutt.com</a>? You are in the right place -- but you've caught me in a transition period. This website will be ready start of 2018. My <a href="http://curtisnorthcutt.com/research.html">research</a> will be added soon.
        <p>For now: <a href="resources/pdf/cv.pdf">Curtis Northcutt's Resume</a><br><br>
        <b>08-15-17</b>: <a href="https://github.com/cgnorthcutt/rankpruning">Rank Pruning</a>, a state-of-the-art algorithm for learning with noisy labels <a href="http://auai.org/uai2017/proceedings/papers/35.pdf">published</a> in UAI '17 <br>
        <b>04-20-17</b>: <a href="http://dl.acm.org/citation.cfm?id=3054016">Comment Ranking Diversification</a> published in L@S '17 <br> -->
        
        <h3> Navigate: </h3>
        <div class="row-of-links">
          <div> <a href="/md/research.html"> <button type="button"> Research </button> </a>  </div>
          <div> <a href="/md/news.html"> <button type="button"> News </button> </a> </div>
          <div> <a href="/resources/pdf/cv.pdf"> <button type="button"> CV </button>  </a> </div>
        </div>
        <br>
        <div class="row-of-links">
          <div> <a href="https://scholar.google.com/citations?user=awRyuUYAAAAJ&hl=en"> <button type="button"> Papers </button> </a>  </div>
          <div> <a href="{{ site.github.owner_url }}"> <button type="button"> GitHub </button>  </a> </div>
        </div>

        <br>
        <hr>
        <br>

        <div class="row-of-links">
          <div> <a href="https://l7.curtisnorthcutt.com/"> <button type="button"> L7 Machine Learning Blog </button> </a>  </div>
          <div> <a href="https://phdrapper.com"> <button type="button"> PomDP the PhD rapper </button> </a>  </div>
          <div> <a href="/md/bodybuilding.html"> <button type="button"> Bodybuilding </button> </a>  </div>
        </div>
        
        <br>

<!--         <div class="row-of-links">          
          <div> <a href="https://phdrapper.com"> <button type="button"> PomDP the PhD rapper </button> </a>  </div>
        </div>
        
        <br>

        <div class="row-of-links">
          <div> <a href="/md/bodybuilding.html"> <button type="button"> Bodybuilding </button> </a>  </div>
        </div> -->

      </header>

      


      <section>

      {{ content }}

      </section>
      
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
